body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}
h1, h2 {
    color: #333;
}
form {
    margin: 20px;
}
input, button {
    padding: 10px;
    margin: 5px;
}
button {
    background-color: rgb(160, 89, 19);
    color: white;
    border: none;
    cursor: pointer;
}
